{
    "presets": ["next/babel"],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
              "decoratorsBeforeExport":true
            }
        ],
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd-mobile", "libraryDirectory": "lib", "style": true }, "ant-mobile"],
        ["styled-components", { "ssr": true }]
      ]
  }